{% extends 'base.html' %}

{% block title %}
my posting
{% endblock %}
{% block content %}
<section class="middle">
    <div class="middle2">
        <div class="sub_title">
            <p>내 포스팅</p>
        </div>
        <span class="part"></span>
        <div class="list_box">
            <ul class="list1" id="list_box1">
                {% for mp in my_posting %}
                <li>
                    <div class="img_box_div">
                        <a href='/api/posting-detail/{{ mp.id }}' class="img_box">
                            <img src="{{ mp.thumbnail }}" class="card-img-top" alt="">
                        </a>
                    </div>
                    <div class="title_box_div">
                        <a href="/api/posting-detail/{{ mp.id }}" class="text_box">
                            <p class="res_name">{{ mp.title }}</p>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</section>
{% endblock %}