{% extends 'base.html' %}

{% block title %}
게시글 상세 페이지
{% endblock %}
{% block content %}
<section class="middle">
    <div class="middle2">
        <div class="sub_title">
            <p>{{ select_posting.title }}</p>
            <div class="posting_info">
                <div class="poster_info">
                    작성자 <p>{{ select_posting.author.username }}</p>
                </div>
                <div class="posting_time">
                    작성 <p>{{ select_posting.created_at|timesince}}전</p>
                </div>
            </div>
        </div>
        <span class="part"></span>
        <div class="list_box">
            <div class="list2">
                <div class="img_box_posting_detail">
                    <img src="{{ select_posting.thumbnail }}" alt="">
                </div>
                <div class="content_box_posting_detail">
                    {{ select_posting.content }}
                </div>
                {% if user.is_authenticated %}
                <div class="edit_btn">
                    <a href="/api/mypage/edit/{{ select_posting.id }}">수정하러 ㄱㄱ!</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}







<!-- <div class="media">
    <div class="media-bod">
        <h5 class="mt-0">{{ select_posting.title }}</h5>
    </div>
    <div class="media-bod">
        <img src="{{ select_posting.thumbnail }}" style="width: 16rem">
    </div>

    <div class="media-bod">
        <h5 class="mt-0">{{ select_posting.content }}</h5>
    </div>
    <div style="text-align: right">
        <span style="font-size: small">
            {{ select_posting.author.username }}-{{ select_posting.created_at|timesince}}전
        </span>
        <a href="/api/mypage/edit/{{ select_posting.id }}">수정하러 ㄱㄱ!</a>
    </div>
</div> -->