<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | muk_awesome</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script defer src="{% static 'js/base.js' %}"></script>
</head>

<body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li>
            <div class="alert alert-{% if message.tags %} class=" {{ message.tags }}"{% endif %} " role=" alert">
                {{ message }}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="nav_bar">
        <section class="logo"><a href="/">MukAwesome</a></section>
        <img src='https://velog.velcdn.com/images/e_elin/post/8913630e-a91f-4382-9da9-028e26940979/image.png'
            style="width: 17rem">
        <section class="sign_box">
            {% if not user.is_authenticated %}
            <ul class="sign_ul">
                <li>
                    <a class="sign_a" href="/api/sign-in"> SignIn </a>
                </li>
                <li>
                    <a>|</a>
                </li>
                <li>
                    <a class="sign_a" href="/api/sign-up"> SignUp </a>
                </li>
            </ul>
            {% else %}
            <div class="sign_div">
                <a href="/api/mypage/{{ user.username }}">
                    <span class="nav-link">
                        {{ user.username }} 님 반갑습니다!
                    </span>
                </a>
                <i class="xi-bars"></i>
            </div>
            {% endif %}
        </section>
    </div>
    <div class="base">
        {% block content %}

        {% endblock %}
    </div>

    <div class="slide_nav">
        <a class="sign_a" href="/api/posting"> 포스팅 </a>
        <a class="sign_a" href="/api/profile"> 프로필보기 </a>
        <a class="sign_a" href="/api/profile/update"> 프로필수정 </a>
        <a class="sign_a" href="/api/logout"> LogOut </a>
    </div>
</body>

</html>