{% extends 'base.html' %}

{% block title %}
프로필보기
{% endblock %}
{% block content %}

    <div class='posting-body'>
        
    <form class="form" method="get" action="/api/profile/">
        <!-- 메시지 위치 수정-->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>
                        <div class="alert alert-{% if message.tags %} class="{{ message.tags }}"{% endif %}
                        " role="alert">
                        {{ message }}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            <div class="card" style="width: 30rem;">
                {% if user.img %}
                    <img src="{{ user.img }}" class="card-img-top" alt="">
                {% else %}
                    <img src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbSa5xl%2Fbtr9QlUWfqG%2FsYkUhx3JrRfUobrq4l4Uwk%2Fimg.png" class="card-img-top" alt="">
                {% endif %}
                <div class="card-body" >
                  <h5 class="card-title">{{ user.username }}</h5>
                  <p class="card-text">나의 한마디 : {{ user.bio }}</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Email : {{ user.email }}</li>
                  <li class="list-group-item">TMI : {{ user.tmi }}</li>
                  <li class="list-group-item">MBTI : {{ user.mbti }}</li>
                  <li class="list-group-item">최애음식 : {{ user.favorite }}</li>
                </ul>
            </div>
    </form>
{% endblock %}