{% extends 'base.html' %}

{% block title %}
로그인
{% endblock %}
{% block content %}
<section class="middle">
    <div class="middle2">
        <div class="sub_title">
            <p>로그인</p>
        </div>
        <span class="part"></span>
        <div class="list_box">
            <div class="list2">
                <form class="form" method="post" action="/api/sign-in/">
                    {% csrf_token %}
                    <div class="inputs">
                        <label for="username">이름</label>
                        <input type="text" id="username" name="username">
                    </div>
                    <div class="inputs">
                        <label for="password">비밀번호</label>
                        <input type="password" id="password" name="password">
                    </div>
                    <hr>
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div style="float: right" class="button_box">
                        <button type="submit">로그인</button>
                        <a href="/api/sign-up">회원가입 페이지로</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}